<div class="user-card">
    <p>USER CARD COMPONENT</p>
    <p>INPUT NAME: {{ name }}</p>
    <p>INPUT email: {{ email }}</p>
    <button #buttonShow (click)="showButton = !showButton">show button</button>
    
    @if(showButton){
        <button #buttonTest (click)="onSendData()">send Data</button>
    }
    <ng-content></ng-content>
    <p>PASSWORD = {{password}}</p>
    <input type="text" [(ngModel)]="password">
</div>

/* <div [ngClass]="{
    'user-card': password === '123',
    'user-card-black': password === 'hola' 
}"> 
*/